*{
    margin: 0px;
    padding: 0px;
}
a{
    color: inherit;
    text-decoration: inherit;
}
html{
    scroll-behavior: smooth;
}
main{
    width: 75%;
    margin: 0px auto;
}
header{
    width: 100%;
    height: 1460px;
    background: url(../images/headerbg.jpg) no-repeat  fixed;
    background-size: cover;
    position: relative;
}
.logo{
    position: absolute;
    margin-top: 80px;
    right: 450px;
}
.title{
    position: absolute;
    margin-top: 80px;
    right: 10px;
}
nav{
    width: 100%;
    height: 448px;
    position: absolute;
    bottom: 0px;
    background: rgba(0, 0,0,0.5);
    border-top: 14px solid #182d55;
}
nav ul{
    list-style: none;
    display: flex;
    justify-content: space-around;
    font-weight: bold;
    font-size: 20px;
    margin: 30px auto 50px auto;
    width: 900px;
}

nav ul li a{
    color: white;
    text-decoration: underline;
    padding-right: 42px;
    border-right: 2px solid #fff;
    font-size: 16px;

}
.imgbar{
    width: 100%;
    height: 182px;
    padding: 40px 0px;
    background: #182D55 url(../images/helicopters.jpg) no-repeat center center;
}
.top{
    width: 100%;
    height: 321px;
}
#Aerial .top{
    background: url(../images/frameimg1.jpg) no-repeat fixed;
}
#Helicopter .top{
    background: url(../images/frameimg2.jpg) no-repeat fixed;
}
#Flight .top{
    background: url(../images/frameimg3.jpg) no-repeat fixed;
}
#Charters .top{
    background: url(../images/frameimg4.jpg) no-repeat fixed;
}
#Contact .top{
    background: url(../images/frameimg5.jpg) no-repeat fixed;
}
.top_overlay{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0,0,0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}
.line{
    width: 230px;
    border: 2px solid #fff;
}
.button{
    font-family: 'Times New Roman', Times, serif;
    font-size: 26px;
    font-weight: bold;
    text-align: center;
    color: #fff;
    border: 8px solid #fff;
    padding: 0px 10px;
}
.bottom{
    width: 100%;
    height: 590px;
    padding: 20px 0px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 24px;
    text-align: center;
    color: #182D55;
    line-height: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
#Helicopter .bottom{
    height: 650px;
}
#Flight .bottom{
    height: 500px;
}
#Charters .bottom{
    height: 440px;
}
#Contact .bottom{
    height: 370px;
    border-bottom: 2px solid #273b60;

}
.contact{
    font-size: 26px;
    line-height: 55px;
}
footer{
    width: 840px;
    margin: 30px auto 50px auto;
    font-size: 26px;
    line-height: 55px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;

}